<div>
  <h2 style="text-align:center">Grocer API</h2>
  <hr/>

</hr/>
  <ul>
    <li>For more information visit <a target="blank" href="https://github.com/dtbrad/my_grocer_api">https://github.com/dtbrad/my_grocer_api</a></li>
    <li>A React app leveraging this API can be found at <a target="blank" href="https://grocer-react-client.herokuapp.com">https://grocer-react-client.herokuapp.com</a> (and its repository at <a target="blank" href="https://github.com/dtbrad/grocer-react-client">https://github.com/dtbrad/grocer-react-client</a>) </li>

  </ul>

</div>
